    <div class="codelion">
      <div class="row">
  		<center><div class="ph12 sm_ph12 ip6 lap4 desk4 super4"><img src="/assets/body_codelion.png"></div></center>
  	  </div>
  	</div>
  	  <div class="row">
  	    <center><div class="ph12 sm_ph12 ip12 lap12 desk12 super12"><img src="/assets/notice_hover.png"></div></center>
  	  </div>
  	<div class="container">
      <center><div class="row">
        <div class="ph12 sm_ph12 ip6 lap4 desk4 super4"><img src="/assets/week8.png"></div>
        <div class="ph12 sm_ph12 ip6 lap4 desk4 super4"><img src="/assets/week8.png"></div>
        <div class="ph12 sm_ph12 ip6 lap4 desk4 super4"><img src="/assets/week8.png"></div>
        <div class="ph12 sm_ph12 ip6 lap4 desk4 super4"><img src="/assets/week8.png"></div>
        <div class="ph12 sm_ph12 ip6 lap4 desk4 super4"><img src="/assets/week8.png"></div>
        <div class="ph12 sm_ph12 ip6 lap4 desk4 super4"><img src="/assets/week8.png"></div>
        <div class="ph12 sm_ph12 ip6 lap4 desk4 super4"><img src="/assets/week8.png"></div>
        <div class="ph12 sm_ph12 ip6 lap4 desk4 super4"><img src="/assets/week8.png"></div>
        <div class="ph12 sm_ph12 ip6 lap4 desk4 super4"><img src="/assets/week8.png"></div>
        <div class="ph12 sm_ph12 ip6 lap4 desk4 super4"><img src="/assets/week8.png"></div>
        <div class="ph12 sm_ph12 ip6 lap4 desk4 super4"><img src="/assets/week8.png"></div>
        <div class="ph12 sm_ph12 ip6 lap4 desk4 super4"><img src="/assets/week8.png"></div>
      </div>
    </center>
     </div>


<div class="wrapper">
  <div class="content-main">...</div>
  <div class="content-secondary">...</div>
</div>
