<section class="content">
	<header class="header"></header>
		<nav class="left"></nav>
		<div class="container">
			<div class="ph1 sm_ph2 ip2 lap2 desk2" ></div>
		</div>
		<nav class="right"></nav>
	<footer class="footer"></footer>
</section>