    <div class="codelion">
      <div class="row">
  		<center><div class="col-lg-12 col-md-12 col-xs-12 col-sm-12"><img src="/assets/body_codelion.png"></div></center>
  	  </div>
  	</div>
  	  <div class="row">
  	    <center><div class="col-lg-12 col-md-12 col-xs-12 col-sm-12"><img src="/assets/notice_hover.png"></div></center>
  	  </div>
  	<div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-6 col-sm-6 col-ssm-12 md1"><img src="/assets/week8.png"></div>
        <div class="col-lg-4 col-md-4 col-xs-6 col-sm-6 col-ssm-12 md2 "><img src="/assets/week8.png"></div>
        <div class="col-lg-4 col-md-4 col-xs-6 col-sm-6 col-ssm-12 md3"><img src="/assets/week8.png"></div>
        <div class="col-lg-4 col-md-4 col-xs-6 col-sm-6 col-ssm-12 md1"><img src="/assets/week8.png"></div>
        <div class="col-lg-4 col-md-4 col-xs-6 col-sm-6 col-ssm-12 md2 "><img src="/assets/week8.png"></div>
        <div class="col-lg-4 col-md-4 col-xs-6 col-sm-6 col-ssm-12 md3"><img src="/assets/week8.png"></div>
        <div class="col-lg-4 col-md-4 col-xs-6 col-sm-6 col-ssm-12 md1"><img src="/assets/week8.png"></div>
        <div class="col-lg-4 col-md-4 col-xs-6 col-sm-6 col-ssm-12 md2 "><img src="/assets/week8.png"></div>
        <div class="col-lg-4 col-md-4 col-xs-6 col-sm-6 col-ssm-12 md3"><img src="/assets/week8.png"></div>
        <div class="col-lg-4 col-md-4 col-xs-6 col-sm-6 col-ssm-12 md1"><img src="/assets/week8.png"></div>
        <div class="col-lg-4 col-md-4 col-xs-6 col-sm-6 col-ssm-12 md2 "><img src="/assets/week8.png"></div>
        <div class="col-lg-4 col-md-4 col-xs-6 col-sm-6 col-ssm-12 md3"><img src="/assets/week8.png"></div>
      </div>
     </div>


<div class="wrapper">
  <div class="content-main">...</div>
  <div class="content-secondary">...</div>
</div>